p{
	font-style: bold;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
	text-transform: capitalize;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

#main-content{
	background-color: #e08754;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: medium;
}

#main-content div{
	padding-left: 15px;
	padding-right: 15px;
}
.col-md-12{
	padding: 0px;
}

.col-sm-12{
}

.col-xs-12{
	padding: 0px;
}
#header-nav{
	position: relative;
	border-radius: 0;
	border: 0;
	margin: 0px;
	background-color: #b4340d;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

nav>.navbar-brand{
	font-size: 2em;
}
.navbar-default .navbar-brand {
    color: #ffa600;
}
#nav-list li{
	text-align: center;
	font-size: 1.5em;
}

.navbar-nav{
	margin: 0px;
}
.navbar-collapse{
	padding: 0px;
}
ul{
	background-color: #b4340d;
	color: #ffa600;
}
li{
	border: 1px solid black;
}